//font size
$fs6 : 46%;
$fs7 : 54%;
$fs8 : 62%;
$fs9 : 70%;
$fs10 : 77%;
$fs11 : 85%;
$fs12 : 92%;
$fs13 : 100%;
$fs14 : 108%;
$fs15 : 115%;
$fs16 : 123%;
$fs17 : 130%;
$fs18 : 138%;
$fs19 : 146%;
$fs20 : 154%;
$fs22 : 169%;
$fs24 : 185%;
$fs26 : 200%;
$fs28 : 215%;
$fs30 : 230%;
$fs32 : 246%;
$fs34 : 262%;
$fs36 : 277%;
$fs38 : 292%;
$fs40 : 307%;
$fs42 : 323%;
$fs44 : 338%;
$fs46 : 354%;
$fs50 : 385%;
$fs90 : 692%;


